body {
  font-family: cursive;
}

.wrap {
  background: white;
}

.content {
  background: white;
}

nav li {
  display: inline;
  padding-right: 5px;
  font-weight: bold;
}

ul a {
  text-decoration: none;
  color: #848484;
}

ul a:hover {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

header {
  background: white;
}

section div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
}

.artclass {
  width: 600px;
  margin: 20px auto;
  color: #848484;
}

.imgnews {
  margin-right: 30px;
}

.imgtestimonials {
  float: right;
  margin-left: 30px;
}

.previewnews {
  float: right;
  background: #CEE3F6;
}

.previewtestimonials {
  float: left;
  background: #F5DA81;
}

#footer {
  float: right;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  text-shadow: 5px 10px 10px #5A5957;
  letter-spacing: 8px;
}

footer {
  background-image: url(../img/footer_img.jpg);
  background-size: 100% 100%;
}
