/*CSS for header title*/

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  text-shadow: 5px 10px 10px #5A5957;
  letter-spacing: 8px;
}


/*Css for body*/

body {
  font-family: cursive;
}

.wrap {
  background: white;
}

.content {
  background: white;
}


/*Css for Navigation Bar*/

nav li {
  font-family: 'Josefin Sans';
  display: inline;
  font-size: 17px;
}

ul a {
  text-decoration: none;
  color: #848484;
}

ul a:hover {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}


/*CSS for 3-section column*/

section div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
}


/*CSS for 3-section column and aricle section*/

.artheading {
  font: bold;
}

.artfont {
  color: #848484;
}


/*CSS for aricle section*/

.previewnews {
  float: right;
  background: #CEE3F6;
}

.previewtestimonials {
  float: left;
  background: #F5DA81;
}


/*CSS for article section image*/

.imgnews {
  margin-right: 30px;
}

.imgtestimonials {
  float: right;
  margin-left: 30px;
}


/*CSS for Hero section*/

#hero {
  background: url(../img/hero_img.png) no-repeat;
  position: relative;
  height: 500px;
  margin-left: 30px;
}

.herofontcolor {
  font-family: 'Oswald';
  font-size: 50px;
  letter-spacing: 0px;
  color: black;
  text-shadow: 0 -3px 0 white;
  text-align: center;
}


/*CSS for footer*/

#footer {
  float: right;
}

footer {
  background-image: url(../img/footer_img.jpg);
  background-size: 100% 100%;
}
